/* site-map */

li {
  list-style-type: none;
  font-size: 17px;
}
li:hover {
    color: #C9B784;
    text-decoration: none;
}

a {
  text-decoration: none;
  color: #88C5D7;
}

/*1.Basic Styles*/
html{
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
}
body{
    margin:0;
    line-height: 1.3;
    background-color:#344A6D;
}
*, *::before, *::after {
  box-sizing:inherit;
}
.page-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.hidden {
  position:absolute;
  left:-10000px;
}
.clearfix {
    overflow: auto;
}

/*Header*/
#header{
    background-color:#344A6D;
    overflow:hidden;
    height: 250px;
}
#underwater-logo{
    width: 25%;
    display: block;
    margin: 30px auto;
}
#main-menu li{
    display:inline-block;
    letter-spacing:2px;
    padding:10px 10px;
}
.top-nav{
    position:relative;
    text-align: center;
}

#main-menu a{
    font-weight:bold;
    color:#c9b784;
    text-decoration:none;
    padding:8px;
}
#main-menu a:hover{
    background-color: white;
    color:#344A6D;
}

/*Slideshow*/
.slideimg{
    width: 30%;
    max-width: 300px;
    margin:0 auto;
    display: inline-block;
}

.slideshow-container{
    display: block;
    width: 100%;
}

.slideshow {
    display: inline-block;
}

.slideshow-container a{
    display: inline-block;
}


/*Location*/
.location {
    width:35%;
    display: inline-block;
    margin-left: 70px;
    margin-top: 35px;
}

.get {
    width:45%;
    float:right !importants;
    margin: 0 auto;
    margin-top: 30px;
}

/*Map*/
.mapimg {
    width:500px;
    display: inline-block;
    margin-top: 30px;
    border-radius: 10px;
    border: 8px solid #C9B784;
}

/*sections*/
.table{
    display: block;
    width:100%;
    /*margin-bottom: 30px;
    margin-left: 30px;*/
}
.section-table{
    display: flex;
    overflow: auto;
    position: relative;
    float:right;
}

.section-table{
    width:30%;
    display:inline-block;
    margin-left: 180px;
    margin-bottom: 120px;
    font-size: 15px;
}

.tableimg1, .tableimg2{
    width: 360px;
    height: 225px;
    margin-left: 20px;
    margin-bottom: 25px;
    margin-top: 25px;
    display: inline-block;
    position: relative;
    border-radius: 10px;
}
.tableimg1{
   position:relative;
   left:310px;
   bottom:100px;
}
.tableimg2{
   position:relative;
   left:270px;
   bottom:330px;
}

#menuhomeimg{
    width:100%;
}
#sec1-menu{
    float:left;
    width:37%;
    margin-left:12.5%;
}
#sec2-geninfo{
    width:30%;
    display:inline-block;
    margin-left: 10px;
    margin-bottom: 110px;
    font-size: 20px;
}

#slideshow-container{
    display: flex;
    overflow: auto;
}

.site-map{
    color: #C9B784;
    margin: 10px 0;
    margin-left: 40px;
    font-size: 30px;
    width: 30%;
}

.sitemap-links {
     width: 100%;
    
}
.sitemap-links li {
    font-size: 20px;
    text-decoration: none;
}

.sitemap-links li a:hover{
    font-size: 20px;
    text-decoration: none;
    color: #E6EDF0;
}

p {
    color:#E6EDF0;
    margin: 5px 0;
}
#main-sitemap{
    margin-left: 90px;
}
/* Footer */
#footer{
    font-size: 19px;
    display: block;
    background-color:#e6edf0;
    margin:0;
    padding: 50px;
    clear:both;
    overflow: hidden;
}
.footerp{
    color:#344A6D;
}
.bottom-nav{
    margin:0;
    padding:0;
}
.bottom-nav li{
    list-style:none;
}
.bottom-nav a{
    text-decoration:none;
    color:#344A6D;
}
.bottom-nav a:hover{
    color:#c9b784;
    text-decoration:underline;
}
.right{
    font-size:14px;
    margin-top: 100px;
    color:black;
}
#aside-info-left{
    width:30%;
    margin-left:10%;
    float:left;
}
#aside-info-right{
    width:44%;
    float:right;
}
.fab fa-instagram {
    width:8%;
}
#asideinforight a {
    font-size:33px;
    margin:0 5px;
}






